* {
  padding: 0;
  margin: 0;
}

*:focus {
  border: 2px solid red;
}

.skip-to-content-link {
  background: red;
  height: 30px;
  left: 50%;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  color: white !important;
  font-weight: bold !important;
}

.skip-to-content-link:focus {
  transform: translateY(0%);
}

.nav-link {
  color: white !important;
}

.header {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(../img/bg-header.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header-content {
  width: 45%;
}

.logo {
  width: 300px;
  margin-bottom: 50px;
}

.title {
  font-size: 35px;
  color: #fff;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 25px;
  line-height: 28px;
  color: white;
  margin-bottom: 30px;
}

.subtitle b {
  color: #ea0a2a;
}

a.btn {
  font-weight: bold;
  width: 50%;
}

a i {
  margin-right: 10px;
  color: #fff;
}

ul {
  list-style: none;
}

.social-list li a i {
  font-size: 25px;
  color: rgb(68, 68, 68) !important;
}

.social-list li {
  margin-right: 25px;
}
